<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <!-- jQuery -->
    <!-- lined-icons -->
    <link href="~/Content/css/icon-font.min.css" rel="stylesheet" />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/Content/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <script src="~/Content/js/wow.min.js"></script>

    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                @RenderBody()
            </div>
        </div>
        <!--footer section start-->
        <footer>
            <p>&copy; 2017 Hospital Name. All Rights Reserved | Design by <a href="https://siddharthsoft.com/" target="_blank">Siddharth Soft</a></p>
        </footer>
        <!--footer section end-->
        <!-- main content end-->
    </section>
    <script src="~/Content/js/jquery.nicescroll.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>


